:root {
  --main_color: #f9f9f9;
  --secondary_color: #ffebbe;
  --accent_color: #550312;
  --accent_color_2: #ffaf14;
  --button_hover: #ffcb66;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--secondary_color);
}


.hero-text {
  gap: 24px;
  max-width: 496px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.hero-text h2 {
  color: var(--accent_color);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-text p {

  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0%;
  margin: auto;
}

#button {
  margin-top: auto;
  color: var(--accent_color);
  width: 164;
  height: 41;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--accent_color);
  background-color: var(--accent_color_2);
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

#button:hover {
  background-color: var(--button_hover);
}

@media (max-width: 1024px) {

.hero-image {
  width: 250px; 
  height: 250px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .hero-container {
    max-width: 100%;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 24px;
  }

  .hero-text {
    align-items: center;
    max-width: 100%;
    height: auto;
    text-align: left;
    gap: 2rem;
  }

  .hero-text h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

  }

  .hero-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4rem;
    letter-spacing: 0%;
    
    text-align: center;

  }

  #button {

    width: 100%;
    width: 164px;

    border-width: 1px;
    border-radius: 5px;


}
}
